<VirtualHost *:8080>

  ServerName <%= node[:host_name]  %>
  ServerAlias <%= node[:host_aliases].join(" ") %>
  DocumentRoot /vagrant/web

  <Directory "/vagrant/web">
    AllowOverride All
    Options +FollowSymLinks
    Order allow,deny
    Allow from all
  </Directory>

</VirtualHost>
